<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #pitchForm="ngForm">
    <div class="form-group">
      <label for="lowA">LOW A PITCH</label>
      <input type="number" class="form-control" id="lowA" required [(ngModel)]="model.pitch" name="lowA" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Number value is required</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!pitchForm.form.valid">Calculate Now!</button>
  </form>
</div>

<div [hidden]="!submitted">
  <!-- TODO: NEED TO SEND INPUT PITCH TO app-pitch COMPONENT -->
  <app-pitch></app-pitch>
</div>