[_main] {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 175%;
  font-weight: bolder;
  margin-top: 5%;
}

[_drones] {
  font-family: "Courier New", Courier, monospace;
  color: #f95428;
  font-size: 125%;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

li {
  font-family: "Courier New", Courier, monospace;
  color: #f95428;
  font-size: 125%;
  font-weight: bold;
}
