<p _main>
  Your Low A is:<br>{{pitch.lowA}}<br><br>
  Therefore:
</p>
<ul>
  <li>Low G: {{pitch.lowG | number: '3.1'}}</li>
  <li>B: {{pitch.bNote | number: '3.1'}}</li>
  <li>C: {{pitch.cNote | number: '3.1'}}</li>
  <li>D: {{pitch.dNote | number: '3.1'}}</li>
  <li>E: {{pitch.eNote | number: '3.1'}}</li>
  <li>F: {{pitch.fNote | number: '3.1'}}</li>
  <li>High G: {{pitch.highG | number: '3.1'}}</li>
  <li>High A: {{pitch.highA | number: '3.1'}}</li>
</ul>
<p _drones>Your tenor drone pitch: {{pitch.tenor | number: '3.1'}}<br>
  Your bass drone pitch: {{pitch.bass | number: '3.1'}}</p>